
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdiosMundo</title>
</head>
<body>
    <div>
        <p>
            @(ViewBag.AdiosMundo)
        </p>
    </div>
</body>
</html>
