
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HolaMundo</title>
</head>
<body>
    <div>     
        <p>
            @(ViewBag.HolaMundo)
        </p>
    </div>
</body>
</html>
