
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tabla</title>
</head>
<body>
    <div> 
        <h3>Tabla de multiplicar</h3>
        <textarea rows="15" style="width: 50%">@(ViewBag.Tabla)</textarea>
    </div>
</body>
</html>
