
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tipo</title>
</head>
<body>
    <div> 
        <p>
            El resultado de la operacion es @(ViewBag.Operaciones)
        </p>
    </div>
</body>
</html>
